body {
  background-color: #424242;
}
#bill-img {
  height: 100%;
  padding-bottom: 100;
  vertical-align: center;
  text-align: center;
  margin-left: 275;
}
#korter-logo {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 20%;
}
#default-sidebar {
  margin-top: 0;
  background-color: #424242;
  position: fixed;
}
#wrapper{
  background-color: #424242;
}
#page-wrapper {
  background-color: #f2f2f2;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-right: 275px;
}
#topbar {
  background-color: #f2f2f2;
  border-bottom: solid 1px #d6d6d6;
  padding:0;
}
.img-cropper {
  width: 50 px;
  border-radius: 50%;
}
.korter-feed h4 {
  text-align: left;
  vertical-align: center;
  padding: 5 5 5 25;
}
.korter-sidebar ul li {
  border-bottom: 0;
}
.korter-sidebar ul li a.active {
  color: #424242;
}
.korter-sidebar ul li a:focus {
  color: #424242;
}
.korter-sidebar ul li a:hover{
  color: #424242;
}
.korter-sidebar i {
  padding: 5%;
}
.korter-topbar h2 {
  text-align: center;
}
.sidebar-text {
  color: #f2f2f2;
}
.sidebar-icon {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 20%;
}
.korter-sidebar img{
  border: 0;
  margin-left: 5;
  margin-right: 5;
  width: 15;

}
.topbar-icon {
  border-radius: 50%;
  border: 0;
  width: 50px;
}
.feedDiscussion {
  border-bottom: solid 1px #d6d6d6;
}
.feedDiscussion-heading {
  color: #5ebb00;
}
.feedDiscussion-reply {
  padding-top: 15;
}
.feedEntry-icon {
  border: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}
.feedEntry-heading {
  color: #5ebb00;
  padding-top: 10;
}
.feed-panel {
  border: solid 1px #d6d6d6;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 20;
  padding-right: 20;
}
.feed-panel-heading {
  padding-bottom: 10;
}
.feed-panel h4 {
  color: #5ebb00;
}
.feed-signature {
  text-align: right;
}
.korter-feed-button {
  color: #f2f2f2;
  background-color: #5ebb00;
  border: 0;
}
.korter-feed-button:hover {
  color: #f2f2f2;
  background-color: #264d00;
  border: 0;
}
.korter-feed-button:focus {
  color: #f2f2f2;
  background-color: #264d00;
  border: 0;
}
#notificationsColumn {
  overflow-y: auto;
}
#discussionsColumn {
  overflow-y: auto;
}

.nav-pills > li > a {
  color: #424242 !important;
}

.nav-pills > li.active > a{
  color: #424242 !important;
  background-color: transparent !important;
}

.nav-pills > li.active {
  border-bottom: solid 3px #5ebb00 !important;
}

#document-container {
  display: flex;
  justify-content: center;
  align-items: center;
}