{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}
    <title></title>
    {% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- SB Admin 2 -->
    <link href="{% static "vendor/sb-admin-2/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">
    <link href="{% static "css/korter/base.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->

            <div id="default-sidebar" class="navbar-default sidebar korter-sidebar" role="navigation"margin-top="0">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <img class="sidebar-icon" src="{% static "img/sidebar-icon.png"%}" alt="Sidebar Icon">
                        </li>
                        <li>
                            <!-- Events and Feed -->
                            <a class="sidebar-text" href="{% url "feed" %}"><i class="glyphicon glyphicon-calendar"></i> Feed</a>
                        </li>
                        <li>
                            <a class="sidebar-text" href="#"><i class="glyphicon glyphicon-file"></i> Apartment<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="sidebar-text" href="flot.html">Bills</a>
                                </li>
                                <li>
                                    <a class="sidebar-text" href="morris.html">Contract</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a class="sidebar-text" href="#"><i class="glyphicon glyphicon-home"></i> House<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url "neighbours" %}">Neighbours</a>
                                </li>
                                <li>
                                    <a href="{% url "rules" %}">Rules</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a class="sidebar-text" href="#"><i class="glyphicon glyphicon-user"></i> Account</a>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

        <div id="page-wrapper">
            <div class="row">
                <nav class="navbar navbar-default navbar-static-top korter-topbar" id="topbar">
                    <!-- /.navbar-header -->
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2>KORTER</h2>
                        </div>
                        <div class="col-md-4">
                            <ul class="nav navbar-top-links navbar-right">
                                <!-- /.dropdown -->
                                <li> Sobra 37-4</li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <img class="topbar-icon rounded" src="{% static "img/female_usericon.jpg"%}" alt="User Icon">
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a class="sidebar-icon" href="#"><i class="glyphicon glyphicon-user"></i> Account</a>
                                        </li>
                                        <li><a class="sidebar-icon" href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a class="sidebar-icon" href="login.html"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                                        </li>
                                    </ul>
                                    <!-- /.dropdown-user -->
                                </li>
                                <!-- /.dropdown -->
                            </ul>
                        </div>
                        <!-- /.navbar-top-links -->
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>


    <script src="{% static "js/app.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "vendor/metisMenu/metisMenu.min.js" %}"></script>

    <!-- SB Admin 2 JavaScript -->
    <script src="{% static "vendor/sb-admin-2/js/sb-admin-2.js" %}"></script>

</body>
</html>
