{% extends "korter/base.html" %}

{% block title %}
<title>Bills</title>
{% endblock %}

{% block header %}Bills{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Rent</th>
              <th>Water & electricity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>250</td>
              <td>50</td>
              <td>300</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>400</td>
              <td>70</td>
              <td>470</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>150</td>
              <td>50</td>
              <td>200</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
