{% load static %}

<!-- Modal -->
<div class="modal fade" id="documentModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">your image title here (can be dynamic) </h4>
      </div>
      <div class="modal-body">
        <div class="modal-content" id="showImg">
          <!-- here we create the image dynamically -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default korter-feed-button" data-dismiss="modal">Sign Digitally</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>    
  </div>
</div>