{% load static %}

<div class="row">
          <h2>7 Rules for healthy environment in the apartment.</h2>
          <p>This is a voluntary green policy. By following these simple rules you can help to save the energy,
              water and keep the environment of the apartment fresh and healthy.
              We promise to take care of the rest, Thank you! </p>
<h3>1. Turn off all the lights.</h3>
<p>Turn of the lights you don’t need at the moment. Always turn all the lights off when leaving the apartment.</p>
<h3>2. Close the water taps</h3>
<p>Millions litres of water are wasted daily around the world by not closing water taps properly!</p>
<h3>3. Take shorter showers</h3>
<p>You can save the water by taking shorter showers instead of prefering to take shower instead of taking a bath.</p>
<h3>4. Turn down the heating or airconditioner</h3>
<p>Open the window and breath a fresh air! But while doing that, turn down the
    airconditioning during the summer and the heating during the winter.
    It is also better to turn down the heating during winter.
</p>
<h3>5. Shut the refrigerator door</h3>
<p>Keeping the refrigerator door opened only for the time you necessarily need
    and taking care to close it properly can save a lot of electrical energy.
</p>
<h3>6. Recycle the garbage</h3>
<p>If you are used to recycle garbage, use spare plastic bags. We will take it to special containers later.</p>
<h3>7. Plug out the appliances from the electricity</h3>
</div>
