<div class="feed-panel panel panel-success">
  <div class="panel-heading">Event name</div>
  <div class="panel-body">
    <div class="row">Event description</div>
    <div class="row">Event DateTime</div>
    <div class="row">Event Location</div>
    <div class="row">Event Going not going</div>
  </div>
</div>

<div class="feed-panel panel panel-success">
  <div class="panel-heading">Event name</div>
  <div class="panel-body">
    <div class="row">Event description</div>
    <div class="row">Event DateTime</div>
    <div class="row">Event Location</div>
    <div class="row">Event Going not going</div>
  </div>
</div>

<div class="feed-panel panel panel-success">
  <div class="panel-heading">Event name</div>
  <div class="panel-body">
    <div class="row">Event description</div>
    <div class="row">Event DateTime</div>
    <div class="row">Event Location</div>
    <div class="row">Event Going not going</div>
  </div>
</div>