<div class="collapse" id="newEvent">
  <div class="feed-panel panel default-panel">
    <div class="panel-body">
      <div class="row">
        <div class-"col-md-12">
          <h4>07 February 2017</h4>
        </div>
      </div>
      <div class="row">
        <div class-"col-md-12">
          <p>On tuesday, Apartment nr 6 needs to clean the hallway.</p>
        </div>
      </div>
      <div class="row feed-signature">
        <div class-"col-md-12">
          <p>Apartment Manager</p>
        </div>
      </div>
      <div class="row feed-timestamp">
        <div class-"col-md-12">
          <p>Posted 04 February 2017</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feed-panel panel default-panel">
  <div class="panel-body">
    <div class="row">
      <div class-"col-md-12">
        <h4>16 February 2017</h4>
      </div>
    </div>
    <div class="row">
      <div class-"col-md-12">
        <p>On tuesday, Apartment nr 12 needs to clean the hallway.</p>
      </div>
    </div>
    <div class="row feed-signature">
      <div class-"col-md-12">
        <p>Apartment Manager</p>
      </div>
    </div>
    <div class="row feed-timestamp">
      <div class-"col-md-12">
        <p>Posted 04 January 2017</p>
      </div>
    </div>
  </div>
</div>

<div class="feed-panel panel default-panel">
  <div class="panel-body">
    <div class="row">
      <div class-"col-md-12">
        <h4>24 February 2017</h4>
      </div>
    </div>
    <div class="row">
      <div class-"col-md-12">
        <p>teisipäeval kell 14.00 tuleb korstnapühkija</p>
      </div>
    </div>
    <div class="row feed-signature">
      <div class-"col-md-12">
        <p>KU esimees</p>
      </div>
    </div>
    <div class="row feed-timestamp">
      <div class-"col-md-12">
        <p>Posted 04 December 2016</p>
      </div>
    </div>
  </div>
</div>

<div class="feed-panel panel default-panel">
  <div class="panel-body">
    <div class="row">
      <div class-"col-md-12">
        <h4>6 March 2017</h4>
      </div>
    </div>
    <div class="row">
      <div class-"col-md-12">
        <p>teisipäeval kell 14.00 tuleb korstnapühkija</p>
      </div>
    </div>
    <div class="row feed-signature">
      <div class-"col-md-12">
        <p>KU esimees</p>
      </div>
    </div>
    <div class="row feed-timestamp">
      <div class-"col-md-12">
        <p>Posted 24 January 2017</p>
      </div>
    </div>
  </div>
</div>