{% load static %}

<div class="feed-panel panel default-panel">
  <div class="panel-body">
    <div class="row">
      <div class-"col-md-12">
        <h4>Post a notification</h4>
      </div>
    </div>
    <div class="row">
      <div class-"col-md-12">
        <div class="form-group">
          <textarea id="discussionMessage" class="form-control" rows="5" id="feedEntryForm" placeholder="Get the word out!"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="datepicker" class="col-md-8">
        <input placeholder="Enter date in this format: dd/mm/yyyy">
      </div>
      <div class-"col-md-4">
        <div class="text-right">
          <button type="button" class="btn btn-default korter-feed-button" data-toggle="collapse" data-target="#newDiscussion" aria-expanded="false" aria-controls="newDiscussion">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>