<div class="feed-panel panel default-panel">
  <div class="panel-body">
    <div class="row">
      <div class-"col-md-12">
        <h3>February 16th</h3>
      </div>
    </div>
    <div class="row">
      <div class-"col-md-12">
        <h4>On tuesday, Apartment nr 12 needs to clean the hallway.</h4>
      </div>
    </div>
    <div class="row feed-signature">
      <div class-"col-md-12">
        <h4>Apartment Manager</h4>
      </div>
    </div>
  </div>
</div>

<div class="feed-panel panel default-panel">
  <div class="panel-body">
    <div class="row">
      <div class-"col-md-12">
        <h3>February 24th</h3>
      </div>
    </div>
    <div class="row">
      <div class-"col-md-12">
        <h4>teisipäeval kell 14.00 tuleb korstnapühkija</h4>
      </div>
    </div>
    <div class="row feed-signature">
      <div class-"col-md-12">
        <h4>KU esimees</h4>
      </div>
    </div>
  </div>
</div>

<div class="feed-panel panel default-panel">
  <div class="panel-body">
    <div class="row">
      <div class-"col-md-12">
        <h3>March 6th</h3>
      </div>
    </div>
    <div class="row">
      <div class-"col-md-12">
        <h4>teisipäeval kell 14.00 tuleb korstnapühkija</h4>
      </div>
    </div>
    <div class="row feed-signature">
      <div class-"col-md-12">
        <h4>KU esimees</h4>
      </div>
    </div>
  </div>
</div>