{% load static %}
<div class="feed-panel panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="feed-panel-heading">
        <div class="media">
          <div class="media-left media-middle">
            <!--div class="img-cropper"-->
              <img class="media-object feedEntry-icon" src="{% static "img/female_usericon.jpg"%}" alt="User Icon">
          <!--/div-->
          </div>
          <div class="media-body">
            <p class="media-heading feedEntry-heading">Maari Maasikas - Apt 12</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="form-group">
          <textarea class="form-control" rows="5" id="feedEntryForm" placeholder="Something on your mind?"></textarea>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-right">
          <button type="button" class="btn btn-default korter-feed-button">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
