{% extends "korter/base.html" %}
{% load static %}

{% block title %}<title>Feed</title>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-6 col-md-4" id="notificationsColumn">
    <div class="row">
      <div class="row korter-feed"><h4>NOTIFICATIONS</h4></div>
      <div class="row">
        <div class="col-md-12">
          {% include "korter/event.html" %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row korter-feed"><h4>BILLS</h4></div>
      <div class="row">
        <div id="feed-bill" >
          <img src="{% static "img/bill-small.png" %}" alt="Bill">  
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8" id="discussionsColumn">
    <div class="row korter-feed"><h4>DISCUSSIONS</h4></div>
      <div class="row">
        <div class="col-md-12">
          {% include "korter/feedEntry.html" %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% include "korter/feedDiscussion.html" %}
        </div>
      </div>
  </div>
</div>

{% endblock %}
