{% extends "korter/base.html" %}

{% block title %}
<title></title>
{% endblock %}

{% block header %}Rules of the house{% endblock %}


{% block content %}
<p>&nbsp;</p>

<ul>
	<li><font face="times new roman, times, serif"><span style="font-size: 36px;">Do not disturb!</span></font></li>
	<li><span style="font-size:36px;">No rats, no cats, no dogs, no children! </span></li>
	<li><font face="times new roman, times, serif"><span style="font-size: 36px;">No smoking!</span></font></li>
  <li><span style="font-size:36px;">Pay your bills!</span></li>
</ul>

{% endblock %}
