{% extends "korter/base.html" %}

{% block title %}
<title></title>
{% endblock %}

{% block header %}Rules of the house{% endblock %}


{% block content %}

<div class="feed-panel panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
		  <ul>
		  	<li><h3>Do not disturb!</h3></li>
		  	<li><h3>No rats, no cats, no dogs, no children!</h3></li>
		  	<li><h3>No smoking!</h3></li>
	    	<li><h3>Pay your bills!</h3></li>
		  </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
